* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  background: linear-gradient(90deg, #644735 0 20%, #c8a28f 20% 100%);
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 100px 150px 100px 60px 150px 60px 150px 60px 150px;
  margin: 20px;
}

.know {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  color: #644735;
  font-family: 'Red Hat Display', sans-serif;
  font-size: 3em;
  text-align: center;
  margin: 20px;
  border-top: 2px solid #4d3628;
  border-bottom: 2px solid #4d3628;
}

.me {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  margin-right: 20px;
  margin-left: 40px;
  font-size: 1.5em;
  font-family: 'Red Hat Display', sans-serif;
  color: #644735;
}

.nica1 {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  width: 150px;
  margin-left: 175px;
  border: 5px outset #9a7b4f;
  border-radius: 50%;
  height: 150px;
}

.edu {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
  color: #644735;
  font-family: 'Red Hat Display', sans-serif;
  font-size: 3em;
  text-align: center;
  margin: 20px;
  border-top: 2px solid #4d3628;
  border-bottom: 2px solid #4d3628;
}

.col {
  grid-column: 2 / 3;
  grid-row: 4 / 5;
  color: #644735;
  font-family: 'Red Hat Display', sans-serif;
  font-size: 2.3em;
  margin-left: 20px;
}

.asc {
  grid-column: 2 / 3;
  grid-row: 5 / 6;
  margin-right: 20px;
  margin-left: 40px;
  font-size: 1.5em;
  font-family: 'Red Hat Display', sans-serif;
  color: #644735;
}

.ascp {
  grid-column: 1 / 2;
  grid-row: 4 / 6;
  width: 150px;
  margin-left: 175px;
}

.hs {
  grid-column: 2 / 3;
  grid-row: 6 / 7;
  color: #644735;
  font-family: 'Red Hat Display', sans-serif;
  font-size: 2.3em;
  margin-left: 20px;
}

.sms {
  grid-column: 2 / 3;
  grid-row: 7 / 8;
  margin-right: 20px;
  margin-left: 40px;
  font-size: 1.5em;
  font-family: 'Red Hat Display', sans-serif;
  color: #644735;
}

.smsp {
  grid-column: 1 / 2;
  grid-row: 6 / 8;
  width: 150px;
  margin-left: 170px;
}

.elem {
  grid-column: 2 / 3;
  grid-row: 8 / 9;
  color: #644735;
  font-family: 'Red Hat Display', sans-serif;
  font-size: 2.3em;
  margin-left: 20px;
}

.pces {
  grid-column: 2 / 3;
  grid-row: 9 / 10;
  margin-right: 20px;
  margin-left: 40px;
  font-size: 1.5em;
  font-family: 'Red Hat Display', sans-serif;
  color: #644735;
}

.pcesp {
  grid-column: 1 / 2;
  grid-row: 8 / 10;
  width: 160px;
  margin-left: 170px;
}

@media screen and (max-width: 1024px) {
  .nica1 {
    margin-left: 100px;
  }
  .ascp {
    margin-left: 110px;
  }
  .smsp {
    margin-left: 110px;
  }
  .pcesp {
    margin-left: 105px;
  }
}

@media screen and (max-width: 768px) {
  .know,
  .edu {
    font-size: 2em;
  }
  .col,
  .hs,
  .elem {
    font-size: 1.8em;
  }
  .me,
  .asc,
  .sms,
  .pces {
    font-size: 1.3em;
  }
  .nica1 {
    margin-left: 50px;
  }
  .ascp {
    margin-left: 60px;
  }
  .smsp {
    margin-left: 60px;
  }
  .pcesp {
    margin-left: 55px;
  }
}

@media screen and (max-width: 425px) {
  body {
    background: linear-gradient(90deg, #644735 0 25%, #c8a28f 25% 100%);
    grid-template-rows: 95px 200px 95px 30px 200px 30px 200px 30px 200px;
  }
  .know,
  .edu {
    font-size: 20px;
  }
  .col,
  .hs,
  .elem {
    font-size: 18px;
  }
  .me,
  .asc,
  .sms,
  .pces {
    font-size: 15px;
    margin-right: 20px;
    margin-left: 20px;
  }
  .nica1 {
    margin-top: 25px;
    margin-left: 15px;
    width: 130px;
    height: 130px;
  }
  .ascp {
    margin-top: 20px;
    margin-left: 19px;
    width: 130px;
    height: 130px;
    grid-row: 5 / 6;
  }
  .smsp {
    margin-top: 5px;
    margin-left: 21px;
    width: 130px;
    height: 130px;
    grid-row: 7 / 8;
  }
  .pcesp {
    margin-left: 15px;
    width: 140px;
    height: 140px;
  }
}
