* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  background: linear-gradient(90deg, #c8a28f 0 75%, #644735 75% 100%);
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 100px 150px 100px 60px 150px 60px 150px 60px 150px;
  margin: 20px;
}

.know {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  color: #644735;
  font-family: 'Red Hat Display', sans-serif;
  font-size: 3em;
  text-align: center;
  margin: 20px;
  border-top: 2px solid #4d3628;
  border-bottom: 2px solid #4d3628;
}

.me {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  margin-right: 20px;
  margin-left: 40px;
  font-size: 1.5em;
  font-family: 'Red Hat Display', sans-serif;
  color: #644735;
}

.edu {
  grid-column: 1 / 2;
  grid-row: 3 / 4;
  color: #644735;
  font-family: 'Red Hat Display', sans-serif;
  font-size: 3em;
  text-align: center;
  margin: 20px;
  border-top: 2px solid #4d3628;
  border-bottom: 2px solid #4d3628;
}

.col {
  grid-column: 1 / 2;
  grid-row: 4 / 5;
  color: #644735;
  font-family: 'Red Hat Display', sans-serif;
  font-size: 2.3em;
  margin-left: 20px;
}

.asc {
  grid-column: 1 / 2;
  grid-row: 5 / 6;
  margin-right: 20px;
  margin-left: 40px;
  font-size: 1.5em;
  font-family: 'Red Hat Display', sans-serif;
  color: #644735;
}

.hs {
  grid-column: 1 / 2;
  grid-row: 6 / 7;
  color: #644735;
  font-family: 'Red Hat Display', sans-serif;
  font-size: 2.3em;
  margin-left: 20px;
}

.sms {
  grid-column: 1 / 2;
  grid-row: 7 / 8;
  margin-right: 20px;
  margin-left: 40px;
  font-size: 1.5em;
  font-family: 'Red Hat Display', sans-serif;
  color: #644735;
}

.smsp {
  grid-column: 2 / 3;
  grid-row: 6 / 8;
  width: 200px;
  margin-left: 20px;
}

.elem {
  grid-column: 1 / 2;
  grid-row: 8 / 9;
  color: #644735;
  font-family: 'Red Hat Display', sans-serif;
  font-size: 2.3em;
  margin-left: 20px;
}

.pces {
  grid-column: 1 / 2;
  grid-row: 9 / 10;
  margin-right: 20px;
  margin-left: 40px;
  font-size: 1.5em;
  font-family: 'Red Hat Display', sans-serif;
  color: #644735;
}

.pcesp {
  grid-column: 2 / 3;
  grid-row: 8 / 10;
  width: 250px;
}
